{% extends 'base/base1.html' %}
{% block cabeza %} <title>prueba</title> {% endblock %}

{% block contenido %}
	<input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
	<h3>Bienvenido a Frev</h3>
	<div>
		<button id="boton" type="submit" name="jugarCC" onclick="location.href='{{url_for('juego1')}}'">Jugar al Caza Calaveras</button>
		<button id="boton" type="submit" name="jugarRC" onclick="location.href='{{url_for('juego2')}}'">Jugar al Runer del Coronavirus</button>
		<button id="boton" type="submit" name="jugarS" onclick="location.href='{{url_for('juego3')}}'">Jugar al Saltarin</button>
		<button id="boton" type="submit" name="jugarBF" onclick="location.href='{{url_for('juego4')}}'">Jugar al Busca Flores </button>
		<button id="boton" type="submit" name="jugarVALG" onclick="location.href='{{url_for('juego5')}}'">Jugar al Vete a la galaga </button>
	</div>

{% endblock %}