{% extends 'base/base1.html' %}
{% block cabeza %}
    <title>Saltarin</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/estiloSalt.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/Saltarin/phaser.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/Saltarin/inicio.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/Saltarin/juego.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/Saltarin/fin.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/Saltarin/principal.js')}}"></script>
{% endblock %}
{% block contenido %}
    <div id="bloque_juego"></div>
{% endblock %}